#trailstart {
	background-image: url(images/trailstart.jpg);
	background-size: 100%;
	height: 60em;
}
#trailstarttext1 {
	padding-left: 35em;
	padding-top: 4em;
}
#trailstarttext2 {
	padding-top: 13em;
}
#bridgeview {
	background-image: url(images/bridgeview.jpg);
	background-size: 100%;
	height: 80em;
}
.incaTrailMap {
	margin: 0 auto;
}
.mapWrap {
	margin: 0 auto;
}

.block {
	width: 100%;
}
.textLight{
	font-style: bold;
	color: black;
	font-family: Garamond;
	font-size: 2em;
}