#trailstart {
	background-image: url(images/trailstart.jpg);
	background-size: 100%;
	height: 60em;
}
#trailstarttext1 {
	padding-left: 10em;
	padding-top: 7em;
}
#trailstarttext2 {
	padding-top: 13em;
}
#bridgeview {
	background-image: url(images/bridgeview.jpg);
	background-size: 100%;
	height: 80em;
}
#bridgeviewtext1 {
	text-align: center;
	padding-top: 10em;
}
#bridgeviewtext2 {
	text-align: center;
	padding-top: 4em;
}
#cat1 {
	background-image: url(images/cat1.JPG);
	background-size: 100%;
	height: 40em;
}
#catText1 {
	text-align: center;
	color: white;
}
#catText2 {
	padding-top: 12em;
	color: white;
	text-align: center;
}
#cat2 {
	background-image: url(images/cat2.JPG);
	background-size: 100%;
	height: 40em;
}
#catText3 {
	text-align: center;
	padding-top: 5em;
}
#cat3 {
	background-image: url(images/cat3.JPG);
	background-size: 100%;
	height: 40em;
}
#catText4{
	text-align: center;
}
.incaTrailMap {
	margin: 0 auto;
}
.mapWrap {
	margin: 0 auto;
}

.block {
	width: 100%;
}
.textLight{
	font-style: bold;
	color: white;
	font-family: Arial;
	font-size: 2em;
}
.box {
	background-opacity: 50%;
	background-color:gray;
	display:inline-block;

}